<hr>
        <div class="row"><!---row 3 start--->
            <div class="col-md-4">
                <h5>Address</h5>
                <hr>
                The Leaf Society,<br>
                Yewalewadi<br>
                Pune<br>
                <p>Contact no.86696969</p>

            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <hr>
                <p><a href="" class="anchor">Home</a></p>
                <p><a href="" class="anchor">About</a></p>
                <p><a href="" class="anchor">Cart</a></p>
                <p><a href="" class="anchor">Contact</a></p>

            </div>
            <div class="col-md-4">
                <h5>Connect Us</h5>
                <hr>
                <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a></h5>
                <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a></h5>
                <h5><a href="https://twitter.com/login"><i class="bi bi-twitter text-danger"></i></a></h5>
                <h5><a href="https://www.linkedin.com/"><i class="bi bi-linkedin text-danger"></i></a></h5>


            </div>
            
        </div><!---row 3 end--->

    </div>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>