{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <strong>My name is {{name}} and my age is {{age}}</strong>
   
    <h2>Product List</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Prices</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.cat}}</td>
                <td>{{product.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="greet()">click me</button>
</body>
</html>