{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="row"> <!---row 2 start--->
    <div class="col-md-4 shadow bg-info-subtle">
        <h5>Filter by Categories</h5>
        <hr>
        <p><a href="/home3" class="anchor">By All</a></p>
        <p><a href="/catfilter/1" class="anchor">By Mobile</a></p>
        <p><a href="/catfilter/2" class="anchor">By Shoes</a></p>
        <p><a href="/catfilter/3" class="anchor">By Clothes</a></p>
        <h5>Filter by Price Range</h5>
        <hr>
        <form action="/range">
            <div class="mb-3">
                <label for="one" class="form-label">Min:</label>
                <input type="number" class="form-control" id="one" name="min" placeholder="Enter Min Value">
            </div>
            <div class="mb-3">
                <label for="two" class="form-label">Max:</label>
                <input type="number" class="form-control" id="two" name="max" placeholder="Enter Max Value">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-danger" id="two" value="search">
            </div>
        </form>
        <h5>Sort by Price</h5>
        <hr>
        <p><a href="/sort/0" class="anchor">Low to High</a></p>
        <p><a href="/sort/1" class="anchor">High to Low</a></p>
    </div>
    <div class="col-md-8">
        <div class="row">
            {% for x in products %}
            <div class="col-md-4">
                <div class="col">
                    <div class="container pt-3">
                        <div class="card" width="100%" heigth="200px">
                            <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{x.name}}</h5>
                                <p class="card-text">Rs.{{x.price}}</p>
                                {% if x.cat == 1 %}
                                <p class="card-text">Mobile</p>
                                {% elif x.cat == 2 %}
                                <p class="card-text">Shoes</p>
                                {% else %}
                                <p class="card-text">Cloths</p>
                                {% endif %}
                                <p class="card-text">{{x.pdetails}}</p>
                                <a href="/pd/{{x.id}}" class="btn btn-primary">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div> <!---row 2 end--->

{% endblock 'main' %}